{% extends 'layout.html' %}

{% block content %}
    {% include 'top_menu.html' %}
    <br><br>
  <div class="kontakts">
    <h3>Kontaktinformasjon</h3>
  <p>Ser etter oss på <a class="facebook" href="https://www.facebook.com/Skandinavisk-Pop-art-342166703278012/" target="blank">Facebook;</a></p>
  E-post: <a href="mailto:spele.sniedze@gmail.com">spele.sniedze@gmail.com;</a>
  <br><br>
  <p>Telefonnummer: +4790234567</p>
  <br>
</div>

    {% if result %}

    {% endif %}


    </body>
{% endblock %}